body {
  /* overflow: hidden; */
  transition: background-color 0.5s;
}
input {
  transition: background-color 0.5s !important;
}
/* .nightcircle {
  z-index: -10;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 1px;
  transition: all 1s;
  border-radius: 50%;
} */
